<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295391330962-9cj8hpvcqaqmeb14n16r6tj61grng3e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295391330962-9cj8hpvcqaqmeb14n16r6tj61grng3e4</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Luq1YKg1oXzKajDSXmbNLvs_hPcGNDM</string>
	<key>GCM_SENDER_ID</key>
	<string>295391330962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.getcrunch.crunch.stg</string>
	<key>PROJECT_ID</key>
	<string>alpaca-91e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>alpaca-91e4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295391330962:ios:d811921ced4c9ce30edc4b</string>
</dict>
</plist>