<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899655281519-vs2j36ps61l11ugu1e0c758kohft1go8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899655281519-vs2j36ps61l11ugu1e0c758kohft1go8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>899655281519-edkgm8gdhgkubn7autni8othqq1d62m7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWv1EiphPiDeKld-5dF8_8xK5mEIqX6Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>899655281519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.getcrunch.crunch.dev</string>
	<key>PROJECT_ID</key>
	<string>pickup-app-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>pickup-app-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899655281519:ios:09ed1999f74308a577569a</string>
</dict>
</plist>